.chat-container {
  border: 0.01em solid black;
  width: 20em;
  height: 20em;
  position: fixed;
  bottom: 7em;
  right: 2em;
}

.chat-bnt{
  position: fixed;
  bottom: 3em;
  right: 8em;
  border-radius: 1em;
  border: 0.01em solid black;
  height: 2em;
  width: 6em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}