/* You can add global styles to this file, and also import other style files */
.basic-bnt {
    border-radius: 1em;
    border: 0.01em solid black;
    -webkit-touch-callout: none;
    text-transform: uppercase;
}