.messages-container {
    overflow: auto;
    position: relative;
    width: 100%;
    height: 14em;
    display: flex;
    flex-direction: column-reverse;
}

.message-row {
    display: flex;
}

.message-row>* {
    display: flex;
    justify-content: center;
    align-items: center;
}

.message {
    background-color: beige;
    border: 0.01em solid black;
    border-radius: 1em;
    padding: 0 0.7em 0 0.7em;
    margin: 0 0.7em 0 0.7em;
}